.blog-post {
    padding-top: 20px;
    .title {
        font-size: 20px;
        font-weight: bold;
        margin: 0 0 30px 0;
    }
    .button-action {
        width: 200px;
        margin: 0 0 0 auto;
    }
}